html {
  --dark-black: #222222;
  --light-black: #333333;
}

body {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--light-black);
}

.container {
  width: 60vw;
  margin: 0 auto;
  padding-top: 200px;
}

.flex-container {
  display: flex;
  overflow-x: scroll;
}

.card:nth-child(2) {
  margin: 0 30px;
}

.card {
  min-width: 300px;
  padding: 30px;
  /* margin: 0 20px; */
  background-color: #fff;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
}

.card > p {
  margin-bottom: 0;
}

.card > h2 {
  font-weight: bold;
}

.card > h4 {
  font-weight: lighter;
}
