html {
  --dark-black: #222222;
  --light-black: #333333;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--light-black);
}

.container {
  width: 60vw;
  margin: 0 auto;
  padding-top: 200px;
}

.flex-container {
  display: flex;
}

.card:nth-child(2) {
  margin: 0 30px;
}

.card {
  min-width: 300px;
  padding: 50px;
  background-color: #fff;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  position: absolute;
  left: -100%;
}

@keyframes slidein {
  from {
    transform: translateX(150px);
  }

  to {
    transform: translateX(0);
  }
}

.card.active {
  opacity: 1;
  animation: slidein 0.6s ease-out;
  position: static;
}

@keyframes slideout {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-150px);
  }
}

.card.not-active {
  opacity: 0;
  animation: slideout 0.6s ease-in;
}

.card > p {
  margin-bottom: 0;
}

.card > h2 {
  font-weight: bold;
}

.card > h4 {
  font-weight: lighter;
}
